body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-color: #101e45;*/
    background-color: #f7f7f7;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-family: "Montserrat",Arial,Tahoma,sans-serif;
    font-weight: 400;
}

.margin-top-25{
    margin-top: 25px !important;
}
@media(min-width: 768px) {
    .left-div{ 
        height: 550px; 
        width:550px
    }
}
.isNotMobile {
    display: none;
}
@media (max-width: 768px) {
    /* For mobile phones: */
    .body-content {
        width: 100% !important;
        margin-left: 0px !important;
        margin-top: 15px !important;
    }

    .carousel-control-next-icon {
        font-size: xx-large !important;
        color: white !important;
        margin-top: -500px !important;
        padding: 0px !important;
        float: right !important;
        cursor: pointer;
    }

    .carousel-control-prev-icon {
        z-index:1;
        position:absolute;
        font-size: xx-large !important;
        color: white !important;
        margin-top: 440px !important;
        margin-bottom: -540px !important;
        margin-left: 0px !important;
        float: left !important;
        cursor: pointer;
    }

    .claer-btn {
        margin-left: 227px !important;
        margin-top: 15px !important;
    }
    .width-100 {
        width: 100% !important;
    }

    .margin-50 {
        margin-left: 50% !important;       
    }

    .isMobile {
        display:none;
    }
    .isNotMobile {
        display: block;
    }

    .margin-55 {
        margin-left: 0px !important; 
        display: flex !important;
    }
    .login-left-div {
        margin-top: -90px !important;
        background-color: #FFFFFF;
        color: #fff;
        background-repeat: repeat;
        width: 100% !important;
        height: auto !important;
        margin-left: 0px !important;
        border-radius: 20px;
    }


    #myChart {
        padding: 0px;
        margin: auto;
        display: block;
        height: 450px !important;
        width: 900px !important;
    }

    .row {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        position: relative;
        min-height: 1px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .header {
        text-transform: uppercase;
        font-size: 20px !important;
        padding-top: 0px !important;
        padding-bottom: 10px !important;
        color: #101e45;
        letter-spacing: -1px;
    }

    input {
        margin-left: 23px !important;
    }

    .card-title {
        font-size: 30px !important;
        margin-top: -35px !important;
        color: lightgray;
        font-weight: bold;
        padding: 0px !important;
        font-family: latothin;
    }

    .ficility-header {
        width: 100% !important;
        margin-top: 35px !important;
        text-align: center !important;
    }

    .form-horizontal .form-group {
        margin-right: 0px !important;
        margin-left: -10px !important;
    }

    .center-header {
        text-align: center !important;
    }
    .logout {
        content: "\25AE" !important;
        font-family: FontAwesome !important;
        left: 0px !important;
        position: relative !important;
        top: 0 !important;
        margin-top: 0px !important;
        color: #546e7a;
        text-decoration: none;
    }
    .block-header {
        padding: 40px 0px !important;
        width: 100%;
    }
    .phone-center {
        margin-left: 50% !important;
    }

    #sidebar-wrapper {
        display: none;
    }

    .padding-5 {
        padding-top: 5px !important;
    }

    .primery-color {
        color: #546e7a !important;
    }

    a {
        color: #546e7a !important;
        text-decoration: none;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
    }

    .menu-item {
        color: #546e7a !important;
        position: relative;
        padding: 0px 10px !important;
    }
}


.input-label {
    color: white !important;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #101e45;
}

html {
    overflow-x: hidden;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    width: 83.5%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 260px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*New CSS*/

.logout {
    content: "\25AE"; /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: FontAwesome;
    left: 0px;
    position: initial;
    float: right;
    top: 0;
    margin-top: 15px;
    color: #546e7a;
    text-decoration: none;
}

body {
    padding-top: 7rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.login-background {
    height: 100%;
    background-position: center;
    position: absolute;
    background-size: cover;
}

    .login-background section {
        padding-top: 8%;
        padding-bottom: 8%;
        height: 100%;
    }

.login-left-div {
    background-color: #FFFFFF;
    color: #fff;
    background-repeat: repeat;
    width: 550px;
    height: 550px;
    margin-left: -80px;
    border-radius: 20px;
}

.striped-bg {
    background-image: url(../Content/bg-strips-light.jpg);
    background-repeat: repeat;
}

.login-right-div {
    background-color: #101e45;
    border-radius: 20px;
    height: 100%;
}

    .login-right-div input {
        background-color: #FFFFFF;
        border-color: #FFFFFF;
        border-bottom-color: aqua;
    }

.login-btn {
    color: #06c5ac;
    background-image: none;
    background-color: transparent;
    border-color: #06c5ac;
    width: 70%;
}

.login-link {
    color: #666 !important;
    text-decoration: underline;
}

    .login-link:hover {
        color: #fff;
    }

.login-btn:hover {
    color: #fff;
    background-color: #06c5ac;
    border-color: #06c5ac;
}
.login-right {
    margin-left: inherit;
    margin-right: -35px;
}

@media (min-width: 1200px) {
    .login-right {
        margin-left: inherit;
        margin-right: -35px;
    }

    .margin-top-20 {
        margin-top: 20%;
    }
}

.loader {
    margin-top: -25px;
    margin-left: 70%;
    border-bottom: 2px solid red;
    border-top: 2px solid yellow; /* Blue */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.red {
    color: red;
}

.card {
    margin-left: 15%;
}

.underline {
    background: none !important;
    background-image: none;
    border: 1px solid #101e45;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0 0 0 0 !important;
    color: lightgray;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.2;
    padding: 5px 4px;
    transition-duration: 0.1s;
    box-shadow: none !important;
    transition: border 300ms ease-out;
    width: 100% !important
}

.header {
    text-transform: uppercase;
    font-size: 25px;
    padding-top: 15px;
    color: #101e45;
    letter-spacing: -1px;
}

.card-title {
    font-size: 35px;
    color: lightgray;
    font-weight: bold;
    padding: 20px;
    font-family: latothin;
}

.login-control-label {
    color: lightgray;
}

#sidebar-wrapper {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-family: "Montserrat",sans-serif;
    width: 250px;
    height: calc(-65px + 100vh);
    position: fixed;
    left: 0px;
    z-index: 10;
    background-color: #fff;
}

.navbar-fixed-top {
    background: #fff;
    border: none;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 11;
    width: 100%;
    padding: 0;
    min-height: 53px;
    margin-bottom: 20px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
}

/**/

.sidebar {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-family: "Montserrat",sans-serif;
    width: 250px;
    height: calc(100vh - 65px);
    position: fixed;
    top: 65px;
    left: 0;
    z-index: 10;
}

    .sidebar .menu .list a {
        color: #546e7a;
        position: relative;
        padding: 14px 10px;
    }

.waves-block {
    display: block;
}

button, input, select, a {
    outline: none !important;
}

a {
    color: #f96332;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    background-color: transparent;
}

    .waves-effect:hover {
        color: #101e45;
        text-decoration: none;
        font-size: 16px;
    }

.sidebar .menu .list {
    list-style: none;
}

.logo {
    margin-left: -200px;
    float: left;
}

.sidebar-nav {
    margin-top: 60px;
}

.block-header {
    padding: 25px 15px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.block-header .breadcrumb {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    background: rgba(255,255,255,0.3);
}

.sidebar-icon {
    margin-left: -15px;
    padding: 5px;
    font-size: 25px !important;
}

.sidebar .user-info {
    position: relative;
    border-bottom: 1px solid #eee;
    margin-top: 50px !important;
}

.sidebar .menu .list a {
    color: #546e7a;
    position: relative;
    padding: 14px 10px;
}

.sidebar .user-info a {
    display: inline-block !important;
}

.waves-effect {
    padding: 14px 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.sidebar .user-info .image img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 100px;
    vertical-align: bottom !important;
    border: 3px solid #fff;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.3);
}

.navbar .search_bar {
    width: 500px;
    vertical-align: top;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.navbar-nav.navbar-left .input-group {
    padding: 12px 15px 0 15px;
}

.input-group, .form-group {
    margin-bottom: 10px;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

    .input-group > .custom-file, .input-group > .custom-select, .input-group > .form-control {
        position: relative;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 1%;
        margin-bottom: 0px;
    }

.inlineblock, .footer nav, .footer ul li, .navbar-header, .navbar-nav.navbar-left, .navbar-nav.navbar-left > li, .navbar-nav > li > a, .sidebar, .right-sidebar .choose-skin li, .right-sidebar .choose-skin li div, .right-sidebar .theme-light-dark li, .right_chat .media .message, .right_chat .media .status, .right_chat .chat_list li a, .card, .card .header .header-dropdown li, .wizard .actions ul, .dropdown-menu ul.menu .icon-circle, .dropdown-menu ul.menu .menu-info, .authentication .n_logo, .team-info li, .chat-widget li.left .chat-info, .chat-widget li.right .chat-info, .weather .days li, .agent .agent-content .agent-contact-details li span, .agent .agent-content .social-icons li, .agent .agent-content .social-icons li a, .follow_us .media .message, .follow_us .media .status, .member-card .social-links li, .social_icon, .w_calender span + span, .w_calender ul li, .c_list .c_name, .contact .c_list .checkbox, .contact .c_list .c_name, .overlay_menu .social .icon {
    display: inline-block;
}


.input-group :first-child.form-control, :first-child.input-group-addon, :first-child.input-group-btn > .dropdown-toggle, :last-child.input-group-btn > :not(:last-child):not(.dropdown-toggle).btn {
    border-right: 0 none;
}

.input-group > :not(:last-child).custom-select, .input-group > :not(:last-child).form-control {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.input-group > .custom-file, .input-group > .custom-select, .input-group > .form-control {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0px;
}

.form-control {
    background-color: transparent;
    border: 1px solid #E3E3E3;
    border-radius: 30px;
    color: #2c2c2c;
    line-height: normal;
    font-size: 0.85em;
    -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button, input, select, a {
    outline: none !important;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, input {
    overflow: visible;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.dashboard-card {
    background: #fff;
    border-radius: .55rem;
    margin-bottom: 30px;
    transition: .5s;
    border: 0;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
}

.dashboard-icon {
    overflow: hidden;
}

.card-body {
    font-weight: 400;
    color: #424242;
    padding: 20px;
}

.count-to {
    margin-top: -15px;
    font-size: 30px;
}
.label-underline {
    font-weight: 300;
    cursor: pointer;
    text-decoration: underline;
}
.header2{
    text-transform: uppercase;
    color: #101e45;
    letter-spacing: -1px;
}

p {
    margin-top: 0 !important;
    /* margin-bottom: 1rem; */
}

.dashboard-content {
    display: inline-block;
    padding: 7px 10px;
}

.dashboard-text {
    color: #616161;
}

.property-type{
    border-radius: .55rem;
    margin-bottom: 30px;
    transition: .5s;
    border: 0;
    padding: 0px;
    position: relative;
    width: 100%;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.1);
}

.property-type-row {
    padding: 5px 45px 0px 15px;
    
}

.property-type-header {
    color: #424242;
    padding: 20px;
    position: relative;
    box-shadow: none;
}
.property-type-card {
    border-radius: .55rem;
    margin-bottom: 30px;
    transition: .5s;
    border: 0;
    padding: 0px;
    position: relative;
    text-align: center;
    width: 238px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.1);
}



.dashboard-number {
    font-weight: 400;
    color: #616161;
    font-size: 30px;
    padding: 10px;
}

.text-muted {
    color: #FFFFFF !important;
}

.progress {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    height: 15px;
    margin-bottom: 0px;
}

.progress {
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}

    .progress .progress-bar {
        line-height: 8px;
        background-color: #2196f3;
    }

.l-blush {
    background: linear-gradient(45deg, #dd5e89, #f7bb97) !important;
    color: #fff !important;
}

.progress-bar {
    border-radius: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width .6s ease;
}

.info-box-2 {
    display: flex;
    cursor: default;
    position: relative;
    overflow: hidden;
    text-align: center;
    min-height: 150px;
    margin-top: -20px;
    margin-bottom: -30px;
}

    .font-26, .navbar .navbar-toggle:before, .info-box .content .number, .info-box-2 .content .number, .twitter-feed p i, .facebook-feed p i {
        font-size: 26px;
    }


.propertyDescription{
    color: white;
    font-weight: initial;
}

.carousel-background {
    background: #101e45;
    border-radius: .55rem;
    margin-bottom: 30px;
    transition: .5s;
    border: 0;
    position: relative;
    width: 100%;
    box-shadow:;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
}


.carousel-control-next-icon {
    font-size: xx-large !important;
    color: white !important;
    margin-top: -150px;
    padding: 15px;
    float: right !important;
    cursor:pointer;
}

.carousel-control-prev-icon {
    font-size: xx-large !important;
    color: white !important;
    margin-top: 110px;
    margin-left: 15px;
    float: left !important;
    cursor: pointer;
}