<!-- Input -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Porfolio Map View
                    <small>View all the facilities by porfolio</small>
                </h2>
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <input-container>
                                        <label>Client</label>
                                    </input-container>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-primary waves-effect" type="submit" ng-click="getPortfolioData(vm.portfolio)">View</button>
                            <button class="btn btn-default waves-effect" type="submit">Reset</button>
                        </div>
                    </div>
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #END# Input -->